<section class="section experiences-section">
	<h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

	<div class="item">
		<div class="meta">
			<div class="upper-row">
				<h3 class="job-title">Software Development Engineer</h3>
				<div class="time">Aug 2021 – Present</div>
			</div>
			<div class="company">Instacart, Toronto, On</div>
		</div>
		<div class="details">
			<p> • Built a centralized offer system at Instacart, enabling streamlined creation and deployment of new offers. Overcame legacy system constraints and collaborated cross-functionally to ensure smooth migration, resulting in increased efficiency and flexibility in offer management</p>
			<p> • Led the migration of legacy offer systems to the centralized offer system, ensuring seamless transition and minimal disruption to operations</p>
			<p> • Implemented Ditto, a test framework for our ads server using Golang, leveraging real traffic data to verify code deployments and mitigate unnoticed errors, preventing multiple incidents. Made the tooling into a CLI to enhance accessibility for engineers, empowering them to develop their own use cases</p>
			<p> • Continuously improved the Ads debugging tool by enhancing its functionality and extending support to various ads placements. Implemented numerous enhancements including URL parsing and account information addition, while also addressing existing bugs and elevating code quality</p>
		</div>
	</div>

	<div class="item">
		<div class="meta">
			<div class="upper-row">
				<h3 class="job-title">Software Development Engineer</h3>
				<div class="time">Aug 2018 – July 2021</div>
			</div>
			<div class="company">Amazon, Toronto, On</div>
		</div>
		<div class="details">
			<p> • Developed and launched an associates scheduling system for Amazon site managers across NA & EU. Overcame various legacy system constraints and provided solutions to automate existing manual processes. Achieved a 99% reduction in daily schedule creation time through a more intuitive UI and flexible features</p>
			<p> • Developed canary deployment solutions utilizing DynamoDB Streams and Kinesis to maintain data consistency between the new scheduling system and legacy systems during the beta launch.</p>
			<p> • Implemented and integrated an UI automation testing into team's exsting CD pipeline using Selenium</p>
			<p> • Hosted a book club discussion on 'Clean Code,' collaborating with the team to establish a unified coding style. Implemented linters to maintain coding standards</p>
			<p> • Mentored three SDEs and one intern. Led various key projects with their involvements:
			<ul>
				<li>1. Developed an end-to-end solution to onboard Europe customers to our scheduling system with a new set of business requirements</li>
				<li>2. Developed a warehouse dashboard using React that shows detailed scheduling information</li>
			</ul>
		</div>
	</div>

	<div class="item">
		<div class="meta">
			<div class="upper-row">
				<h3 class="job-title">Software Development Engineer (Intern)</h3>
				<div class="time">May 2017 – Sept 2017</div>
			</div>
			<div class="company">Amazon, Toronto, On</div>
		</div>
		<div class="details">
			<p> Developed Badging System in Java for Associate to take time off request opportunity (Mid-shift VTO)</p>
			<p> • Gathered requirements from site managers and validated use cases with associates in site</p>
			<p> • Created design docs for entire workflow from data store level to UI</p>
			<p> • Created backend(Java) API to take associate information and registered into the opportunity system</p>
			<p> • Created frontend(Angular) provide to user the interface to interact</p>
			<p> • Unit test for the core business logic(eligibility) & integ tests as the sanity checks</p>
		</div>
	</div>

	<div class="item">
		<div class="meta">
			<div class="upper-row">
				<h3 class="job-title">Development Engineer</h3>
				<div class="time">Sept 2016 – Dec 2016</div>
			</div>
			<div class="company">Points International Ltd, Toronto, On</div>
		</div>
		<div class="details">
			<p> • Developed PaymentGateWay system in Java for credit cards Auth and Fraud checking</p>
			<p> • Updated the current API to support a new credit card processing provider</p>
			<p> • Added new unit test suites and sanity tests using Robot Framework</p>
			<p> • Documented the new API version for future maintenance</p>
		</div>
	</div>

	<div class="item">
		<div class="meta">
			<div class="upper-row">
				<h3 class="job-title">Technical Developer</h3>
				<div class="time">Jan 2016 – May 2016</div>
			</div>
			<div class="company">The Jonah Group, Toronto, ON</div>
		</div>
		<div class="details">
			<p> • Developed company time and project management website using C#, ASP.NET and JavaScript</p>
			<p> • Designed and developed a Cross-platform mobile prototype for the company website using Xamarin</p>
			<p> • Developed on JIRA synchronization plugin, allowed website receive from Jira Webhook events</p>
		</div>
	</div>

	<div class="item">
		<div class="meta">
			<div class="upper-row">
				<h3 class="job-title">Software Developer-Gaming</h3>
				<div class="time">Jan 2015 – May 2015</div>
			</div>
			<div class="company">Pong Marketing and Promotions Inc, Woodbridge, ON</div>
		</div>
		<div class="details">
			<p> • Developed a skill game PuzzleZlots, planned to be submitted to Apple Store using XML</p>
			<p> • Wrote tools to unpack and edit packed images using C#</p>
			<p> • Tested and fixed existing games</p>
		</div>
	</div>
</section>
