<section class="section experiences-section">
	<h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

	<div class="item">
		<div class="meta">
			<div class="upper-row">
				<h3 class="job-title">Development Engineer</h3>
				<div class="time">Sept. 2016 – Dec. 2016</div>
			</div>
			<div class="company">Points International Ltd, Toronto, On</div>
		</div>
		<div class="details">
			<p> • Developed PaymentGateWay in Java for credit cards Auth and Fraud checking</p>
			<p> • Updated the current API to support a new credit card processing provider</p>
			<p> • Added new unit test suites and sanity tests using Robot Framework</p>
			<p> • Documented the new API version for future maintenance</p>
		</div>
	</div>

	<div class="item">
		<div class="meta">
			<div class="upper-row">
				<h3 class="job-title">Technical Developer</h3>
				<div class="time">Jan. 2016 – May 2016</div>
			</div>
			<div class="company">The Jonah Group, Toronto, ON</div>
		</div>
		<div class="details">
			<p> • Developed company time and project management website using C#, ASP.NET and JavaScript</p>
			<p> • Redesigned company Database structure and write series of SQL Query for version control</p>
			<p> • Designed and developed a Cross-platform mobile app for the company website using Xamarin</p>
			<p> • Developed on JIRA synchronization plugin, allowed website receive from Jira Webhook events</p>
		</div>
	</div>

	<div class="item">
		<div class="meta">
			<div class="upper-row">
				<h3 class="job-title">Software Developer-Gaming</h3>
				<div class="time">Jan. 2015 – May 2015</div>
			</div>
			<div class="company">Pong Marketing and Promotions Inc, Woodbridge, ON</div>
		</div>
		<div class="details">
			<p> • Developed a skill game PuzzleZlots, planned to be submitted to Apple Store using XML</p>
			<p> • Wrote tools to unpack and edit packed images using C#</p>
			<p> • Tested and fixed existing games</p>
		</div>
	</div>
</section>
