<section class="section projects-section">
	<h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
	<div class="intro">
		<p>Need to add more.</p>
	</div>

	<div class="item">
		<span class="project-title"><a href="https://github.com/JiananLuo/PuzzleSlots/tree/master/PuzzleZlots/0296/001" target="_blank">PuzzleSlot</a></span> -
		<span class="project-tagline">A skill slot game, similar to Candy Crush, need both luck and skill.</span>
	</div>

	<div class="item">
		<span class="project-title"><a href="https://github.com/JiananLuo/Games/tree/master/Monopoly" target="_blank">Monopoly</a></span> -
    <span class="project-tagline">A monopoly game based on the campus map of the University of Waterloo.</span>
	</div>

	<div class="item">
		<span class="project-title"><a href="https://github.com/JiananLuo/Games/tree/master/Snake" target="_blank">Snake</a></span> -
    <span class="project-tagline">A Responsive JAVA Snake Game with many level difficulty and HELL mode.<span>
	</div>
</section>
